body {
	font-family: "PT Sans", 'Tahoma', sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #000;
	background-color: #f2f2f2;
}

.container {	
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	position: relative;
	min-height: 56px;
	font-weight: bold;
	background-color: #fff;
	vertical-align: middle
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

ul {	
	margin: 0;	
	padding: 0;
}

.left {
	float: left;
	width: 164px;
	margin-left: 76px;
	text-align: left;
}

.right {
	float: right;
	width: 164px;
	margin-right: 76px;
	text-align: right;
}

.main-nav li {
	padding-top: 15px;
	list-style: none;
	line-height: 26px;
	vertical-align: middle;
}

.main-nav a{
	text-decoration: none;
	color: #000;
}
.active-page {
	color: #766357;
}

.logo-background {
	display: flex;
	min-height: 510px;
	justify-content: center;
	background-image: url("../img/index-logo-background.jpg");
}

.index-logo {
	margin: auto;
}

.features-item {
	text-align: center;
	background-color: blue;	
}

.entry {
	display: flex;
	min-height: 216px;
	justify-content: center;
	background-color: #fff;
}

.entry-text {
	margin: auto;
	width: 500px;
}

h1 {
	font-size: 21px;
	font-weight: bold;
}

.features-name {
	display: block;
	width: 160px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto; 
	font-size: 21px;
	font-weight: bold;
}

.features-number {	
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.features-text {
	margin: 25px 60px;
}

.features-with-photo {
	display: flex;
	justify-content: space-between;
	min-height: 256px;
}

.real-town {
	width: 33.34%;
	color: #fff;
	vertical-align: middle;
	background-color: #81b3d2;
	text-align: center;
}

.photo-real-town {
	width: 66.66%;
}

.features-with-icon {
	display: flex;
	justify-content: space-between;
	min-height: 330px;
}
.accomodition-features {
	width: 33.34%;	
	padding-top: 110px;
	text-align: center;
	background-color: #fff;
}

.food-features {
	width: 33.33%;	
	padding-top: 110px;
	text-align: center;
	background-color: #fff;
}

.souvenir-features {
	width: 33.33%;	
	padding-top: 110px;
	text-align: center;
	background-color: #fff;
}

.photo-devil-bright {
	width: 66.67%;	
}

.devil-bridge {
	width: 33.33%;
	color: #fff;
	background-color: #81b3d2;
	text-align: center;
}

.features-without-photo{
	display: flex;
	justify-content: space-between;
	min-height: 256px;
}

.small-area {	
	width: 33.34%;
	text-align: center;
	background-color: #eee;
}

.beautiful-road{
	width: 33.33%;
	text-align: center;
	background-color: #eee;
}

.without-tourists {
	width: 33.33%;
	text-align: center;
	background-color: #eee;
}

.search-hotel-container {
	display: flex;
	flex-direction: column;
	min-height: 292px;
	background-color: #fff;
}

.search-hotel-text {
	width: 568px;
	min-height: 158px;
	margin-top: 57px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 70px; 
	padding-right: 70px;
	 
}

.search-hotel-text h2 {
	margin-top: 0;
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
}

.search-hotel-text p {
	line-height: 24px;
	text-align: center;
}

.search-hotel-btn {
	width: 568px;
	min-height: 53px;
	margin: 0 auto;
	padding-top: 32px;
	background-color: #766357;
	text-align: center;
}

.search-hotel-btn a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

form {
	width: 568px;
	min-height: 53px;
	margin: 0 auto;
	line-height: 26px;
	font-weight: bold;
}

.footer-visitsedona {
	float: left;
	width: 400px;
	min-height: 120px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;

	background-color: grey;
}

.footer-social {
	float: left;
	width: 400px;
	min-height: 120px;
	background-color: #fff;
}

.footer-copyright {
	float: right;
	width: 400px;
	min-height: 120px;

	background-color: grey;
}

.filter-container form {
	font-weight: normal;
	color: #fff;
}

.filter-container p {
	font-size: 16px;
	font-weight: bold;
}

.service-filter {
	float: left;
	width: 312px;
	min-height: 217px;

	background-color: #355468;
}

.accomodition {
	float: left;
	width: 288px;
	min-height: 217px;

	background-color: #83a2c1;
}

.cost-per-day {
	float: right;
	width: 600px;
	min-height: 145px;

	background-color: #293c43;
}
.search-btn {
	font-size: 21px;
	line-height: 26px;
	color: #fff;

	background-color: #83a2c1;
}

.result {
	float: left;
	width: 210px;
	min-height: 87px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;

	background-color: grey;
}

.sorting {
	float: left;
	width: 390px;
	min-height: 87px;

	background-color: #565656;
}

.sorting li {
	display: inline-block;
}

.sorting-arrow {
	float: right;
	width: 40px;
	min-height: 87px;
	margin-right: 73px;

	background-color: #fff;
}

.photo-hotel {
	float: left;
	width: 135px;
	min-height: 123px;
	padding-left: 73px;
	padding-top: 31px;
}

.info-hotel {
	float: left;
	width: 392px;
	min-height: 154px;
	padding-left: 30px;
	background-color: #fff;
}

.info-hotel h2{
	font-size: 21px;
	font-weight: bold;
}

.info-hotel a {
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

.rating-hotel {
	float: right;
	width: 160px;
	min-height: 154px;
	padding-right: 73px;
}

.hotel-2 {
	background-color: #565656;
}