body {
	font-family: "PT Sans", 'Tahoma', sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #000;
	background-color: #f2f2f2;
}

.container {
	min-width: 	768px;
	max-width: 1200px;
	margin: 0 auto;
}

.main-header {
	position: relative;
	font-weight: bold;
	background-color: #fff;
	
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav ul {	
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 6%;
	min-height: 56px;
}

.left {
	width: 20%;
	text-align: left;
}

.right {
	width: 20%;
	text-align: right;
}

.main-nav li:nth-child(3) {
	margin-left: 20%;
}
.main-nav li {
	list-style: none;
	line-height: 26px;
}

.main-nav a{
	text-decoration: none;
	color: #000;
}
.active-page {
	color: #766357;
	color: red;
}

main {
	background-color: #fff;
}

.logo-background {
	min-height: 510px;
	padding-top: 75px;
	background-image: url("../img/index-logo-background.jpg");
	background-size: cover;
}

.index-logo {
	width: 458px;
	height: 352px;
	margin-left: auto;
	margin-right: auto; 

}

.features-item {
	text-align: center;
	background-color: blue;	
}

.entry {
	display: flex;
	min-height: 216px;
	justify-content: center;
	background-color: #fff;
}

.entry-text {
	margin: auto;
	width: 500px;
	text-align: center;
}

h1 {
	padding-bottom: 30px;
	font-size: 21px;
	font-weight: bold;
}

.features-name {
	display: block;
	width: 160px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto; 
	font-size: 21px;
	font-weight: bold;
}

.features-number {	
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.features-text {
	margin: 25px 60px;
}

.features-with-photo {
	display: flex;
	justify-content: space-between;
	min-height: 256px;
}

.real-town {
	width: 33.34%;
	color: #fff;
	vertical-align: middle;
	background-color: #81b3d2;
	text-align: center;
}

.photo-real-town {
	width: 66.66%;
}

.photo-real-town img {
	height: 100%;
	border: none;
}

.features-with-icon {
	display: flex;
	justify-content: space-between;
	min-height: 330px;
}
.accomodition-features {
	width: 33.34%;	
	padding-top: 110px;
	text-align: center;
	background-color: #fff;
}

.food-features {
	width: 33.33%;	
	padding-top: 110px;
	text-align: center;
	background-color: #fff;
}

.souvenir-features {
	width: 33.33%;	
	padding-top: 110px;
	text-align: center;
	background-color: #fff;
}

.photo-devil-bright {
	width: 66.67%;
}

.photo-devil-bright img {
	height: 100%;
	border: none;
}

.devil-bridge {
	width: 33.33%;
	color: #fff;
	background-color: #81b3d2;
	text-align: center;
}

.features-without-photo{
	display: flex;
	justify-content: space-between;
	min-height: 256px;
	background-color: #eee;
}

.small-area {	
	width: 33.34%;
	text-align: center;
	
}

.beautiful-road{
	width: 33.33%;
	text-align: center;
	
}

.without-tourists {
	width: 33.33%;
	text-align: center;
	
}

.search-hotel-container {
	display: flex;
	flex-direction: column;
	min-height: 292px;
	background-color: #fff;
}

.search-hotel-text {
	width: 568px;
	min-height: 158px;
	margin-top: 57px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 70px; 
	padding-right: 70px;
	 
}

.search-hotel-text h2 {
	margin-top: 0;
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
}

.search-hotel-text p {
	line-height: 24px;
	text-align: center;
}

.search-hotel-btn {
	width: 568px;
	min-height: 53px;
	margin: 0 auto;
	padding-top: 32px;
	background-color: #766357;
	text-align: center;
}

.search-hotel-btn a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.search-hotel-form {
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
	width: 458px;
	margin: 0 auto;
	padding: 40px 54px;
	line-height: 26px;
	font-weight: bold;
	background-color: #fff;
}

.search-hotel-form div {
	min-height: 40px;
	margin: 15px 0;
}

.checkin-date input, .checkout-date input {
	position: absolute;
	width: 334px;
	height: 38px;
	margin-left: 20px; 
	padding: 0;
	padding-left: 12px; 
	border: none;
	font-family: "PT Sans", 'Tahoma', sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;	
	text-transform: uppercase;
	color: #000;
	background-color: #f2f2f2;
}

.calendar {
	position: relative;
	margin-left: 335px;
	top: 8px;
}

.client div {
	margin: 0;
	font-size: 0;
}

.older-client {
	display: inline-block;
	width: 228px;
	min-height: 40px;
	font-size: 0;
}

.child-client {
	display: inline-block;
	width: 181px;
	min-height: 40px;
	padding-left: 45px;
	font-size: 0;
}

.older-client input, .child-client input {
	display: inline-block;
	width: 34px;
	height: 40px;
	border: none;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", 'Tahoma', sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;	
	text-transform: uppercase;
	text-align: center;
	color: #000;
	background-color: #f2f2f2;
}

 .older-client button, .child-client button {
 	display: inline-block;
	width: 40px;
	height: 40px;
	border: none;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", 'Tahoma', sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;	
	text-transform: uppercase;
	text-align: center;
	color: #000;
	background-color: #f2f2f2;
}

 .older-client span, .child-client span {
 	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
}

.older-client span {
	margin-right: 40px;
}

.child-client span {
	margin-right: 26px;
}

.search-btn button {
	width: 458px;
	padding-top: 15px;
	padding-bottom: 19px;
	border: none;
	font-family: "PT Sans", 'Tahoma', sans-serif;
	font-size: 21px;
	line-height: 26px;	
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;

	background-color: #83a2c1;
}

.main-footer {
	display: flex;
	padding: 0 6%;
	justify-content: space-between;
	align-items: center;
	min-height: 120px;
	text-align: center;
	background-color: #fff;
}

.footer-visitsedona {
	width: 27.34%;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.footer-social {
	/*display: inline-block;*/
	width: 33.33%;
}

.social-btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	background: #81b3d2 url("../img/social-btn.png") no-repeat;
	vertical-align: middle;
	text-indent: -2545px;
}

.social-btn-tw {
	margin-right: 5px;
	background-position: 15px 12px;
}

.social-btn-fb {
	margin-right: 5px;
	background-position: -38px 12px;
}

.social-btn-yt {
	background-position: -89px 12px;
}

.footer-copyright {
	width: 27.33%;	
}

.htmlacademy-icon {
	display: inline-block;
	width: 113px;
	height: 39px;
	margin-left: 5px;
	background: url("../img/htmlacademy.png") no-repeat;
	vertical-align: middle;
	text-indent: -2545px;
}

.filter-container {
	background-image: url("../img/filter-container-background.jpg");
}

.filter-form {
	display: flex;
	padding: 0 6%;
	align-items: center;
	min-height: 217px;
	font-weight: normal;
	color: #fff;
}

.filter-form p {
	font-size: 16px;
	font-weight: bold;
}

.filter-form label {
	display: block;
	padding-bottom: 23px;
}

.service {
	width: 20%;
}

.accomodition {
	width: 30%;
}

.filter-form label {
	position: relative;
	margin-left: 35px;
}

.filter-form span,
input[type="checkbox"] {
  	position: absolute;
}

.filter-form input[type=checkbox] {
  display: none;
}

.filter-form span {
  	display: block;
  	left: -35px;
  	top: 1px;
	width: 15px;
	height: 15px;
	border: 2px solid #fff;
	border-radius: 15%;
	background: none;
}

.filter-form input[type=checkbox]:checked + span:before {
    content: '';
    position: absolute; 
    left: 1px; 
    top: 8px;  
    width: 8px;
    height: 4px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);    
}
.filter-form input[type=checkbox]:checked + span:after{
    content: '';
    position: absolute; 
    left: 3px;
    top: 5px;
    width: 17px;
    height: 4px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);       
}

.filter-range {
	width: 330px;
	margin-left: 22%; 
}

.filter-range-title {
	margin-bottom: 9px;
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #fff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 2px;
	height: 22px;
	background: #fff;
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	display: inline-block;
	width: 100px;
	text-align: center;
	/*padding-left: 55px;*/
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background-color: #fff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background-color: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.filter-range button {
	display: block;
	width: 135px;
	height: 35px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 2px;
	outline: none;
	background: none;
	cursor: pointer;
	font-family: "PT Sans", 'Tahoma', sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}

.filter-range button:hover {
	background-color: #fff;
	color: #000;
}

.result-container {
	display: flex;
	align-content: center;
	min-height: 86px;
	padding: 0 6%;	
	border-bottom: 1px solid #e5e5e5;
}

.result {
	width: 16%;
	margin: auto 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sorting {
	flex-grow: 1;	
	margin: auto 0;
	font-size: 12px;
	line-height: 18px;
}

.sorting ul {
	margin: 0;
	padding: 0;
}

.sorting ul, li, span {
	display: inline-block;
}

.sorting li:first-child {
	margin-left: 38px;
	text-decoration: none;
	color: #81b3d2;
}

.sorting li:nth-child(2) {
	margin-left: 31px;	
	color: #e5e5e5;
}

.sorting li:last-child {
	margin-left: 33px;	
	color: #e5e5e5;
}

.sorting-arrow {
	margin: auto 0;
}

.sorting-arrow  a {
	display: inline-block;
}

.found-hotel {
	display: flex;
	margin: 0;
	padding: 0 6%;
	min-height: 153px;
	border-bottom: 1px solid #e5e5e5;
}

.photo-hotel {
	width: 135px;
	padding-top: 30px;
}

.info-hotel {
	flex-grow: 1;
	padding-left: 30px;
}

.info-hotel h2{
	font-size: 21px;
	font-weight: bold;
	margin: 0;
	padding-top: 27px;
	padding-bottom: 13px;
}

.info-hotel span {
	display: inline-block;
	width: 110px;
	padding: 0;
	padding-bottom: 13px; 
}

.info-hotel a {
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

.speedaction-btn a{
	display: inline-block;
	text-align: center;
	color: #fff;
}

.details-btn {
	width: 110px;
	padding: 2px 0;
	background-color: #81b3d2;
}

.booking-btn {
	width: 144px;
	padding: 2px 0;
	background-color: #766357;
}

.rating-hotel {
	width: 112px;
	margin-top: 94px;
	text-align: right;
}

